body {
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 320px;
    
    background-color: rgb(185, 171, 170);
}

html,
button,
input,
select,
textarea,
.pure-g [class *="pure-u"] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.02em;
    
}

p,
td {
    line-height: 1.5;
}

ul {
    padding: 0 0 0 20px;
}

th {
    background: #eee;
    white-space: nowrap;
}

th,
td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    font-size: .9em;
    font-weight: normal;
    border-right: 1px solid #fff;
}

td:first-child {
    white-space: nowrap;
    color: #008000;
    width: 1%;
    font-style: italic;
}

h1,
h2,
h3 {
    color: #4b4b4b;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    margin: 0 0 1.2em;
}

h1 {
    font-size: 4.5em;
    color: #1f8dd6;
    margin: 0 0 .4em;
}

h2 {
    font-size: 2em;
    color: #636363;
}

h3 {
    font-size: 1.8em;
    color: #4b4b4b;
    margin: 1.8em 0 .8em
}

h4 {
    font: bold 1em sans-serif;
    color: #636363;
    margin: 4em 0 1em;
}

a {
    color: #4e99c7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p,
pre {
    margin: 0 0 1.2em;
}

::selection {
    color: #fff;
    background: #328efd;
}

::-moz-selection {
    color: #fff;
    background: #328efd;
}

@media (max-width:480px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.5em;
    }

    td:first-child {
        white-space: normal;
    }
}

.inline-code {
    padding: 1px 5px;
    background: #eee;
    border-radius: 2px;
}

pre {
    padding: 15px 10px;
    font-size: .9em;
    color: #555;
    background: #edf3f8;
}

pre i {
    color: #aaa;
}

/* comments */
pre b {
    font-weight: normal;
    color: #cf4b25;
}

/* strings */
pre em {
    color: #0c59e9;
}

/* numeric */
/* Pure CSS */
.pure-button {
    margin: 5px 0;
    text-decoration: none !important;
}

.button-lg {
    margin: 5px 0;
    padding: .65em 1.6em;
    font-size: 105%;
}

/* required snapPuzzle styles */
.snappuzzle-wrap {
    position: relative;
    display: block;
}

.snappuzzle-pile {
    position: relative;
}

.snappuzzle-piece {
    cursor: move;
}

.snappuzzle-slot {
    position: absolute;
    background: #fff;
    opacity: .8;
}

.snappuzzle-slot-hover {
    background: #eee;
}

.trails-list {
    text-align  : center;
    align-content: center;
}
.trails-list-item a {
    color: white;
    text-decoration: none;
    margin: 15px; 
    padding: 15px; 
}

#action-menu {
    text-align: center;
    margin-top: 25px;
}

.action-button {
    background: rgb(249,249,249); 
    color: black;
    font-family: cursive;
    width: 200px;
    max-width: 80%;  
    margin: 3px 0px;
    border: 2px solid rgb(185, 171, 170, .5);
    border-radius: 4px;
    margin-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#puzzle-containment {
    background-image: url('/background/tileset.jpg');
    /* background-color: red; */
}

.tileset {
    background-image:url('/background/tileset.jpg');
}
 
.snappuzzle-wrap {
   box-shadow:  7px 3px 3px rgba(0,0,0, .2);
}

#pile {
    background-color: rgb(249, 249, 249);
}

.end-game-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.end-game-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#puzzle_solved {
    padding: 5px;
}

#avatar {
    z-index: 999999999;
    right: 3%;
    top: 20%;
    position: fixed;

    width: 300px;
}

.modal-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, .3);
}
.modal {
    z-index: 99999999;
    border-radius: 5px;
}